* {padding: 0; margin: 0; box-sizing: border-box; color: white; background: none; font-family: sans-serif; border: none; user-select: none;}
html {
    background-color: black;
}
#image-frame {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#toast, #controls {
    position: fixed;
    background-color: rgba(0,0,0,0.75);
    width: max-content;
    height: max-content;
    max-width: calc(100vw - 1rem);
    backdrop-filter: blur(6px);
    z-index: 10;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 1rem;
    border-radius: 8px;
    padding: 0.5rem;
}
#toast {
    inset: 0;
}
#controls, #buttons, #selectors {   
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
}
option {
    background-color: black;
}
input,button, select {
    font-size: 12pt;
    padding: 0.25rem;
}
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    appearance: none;
}
#buttons button {
    color: hsl(0, 70%, 50%);
    text-transform: uppercase;
    font-weight: bold;
    text-rendering: optimizeLegibility;
    letter-spacing: 1px; 
}
#buttons button:hover {
    background-color: hsla(0, 70%, 50%,0.25);
}

.number-select, select {
    height: 2rem;
    width: max-content;
    border-radius:6px;
    border :1px solid rgba(200,200,200,0.25);
    overflow: hidden;
}
.number-select * {
    height: 100%
}
.number-select input {
    width: 5rem;
}
.number-select button {
    line-height: 100%;
    width: 1.5rem;
    font-size: 1rem;
    font-family: monospace;
    background-color: rgba(200,200,200,0.15);
}
.number-select button:disabled {
    color: rgba(255,255,255,0.30);
}
.number-select button:active {
    background-color: hsla(0,0%,100%, 0.5)!important;
}
.number-select button:hover {
    background-color: hsla(0,0%,100%, 0.2);
}


